.nawforms div{
    display:inline-block ;
}
.welcome{
    background-image: url(Screenshot\ 2024-08-28\ 203632.png);
    background-size: 100%;
    height: 270px;
    padding: 20px;
    margin-top: 20px;
}
.oto1{
    font-size: 40px;
    margin-top: 10px;
}
.oto2{
    font-size: 35px;
    margin-top: 10px;

}
.oto3{
    font-size: 30px;
    border: 1px solid white;
    background-color: white;
    width: 30%;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;

}